<h3 id="-">股票购买提醒</h3>
<ul>
    <li>股票名称：${context.stock.name}</li>
    <li>股票代码：${context.stock.stockCode}</li>
    <li>时   间：${time}</li>
    <li>通过规则：#foreach($item in $context.flowSwings) $item.validateType.name() | #end</li>
</ul>