<h3 id="-">股票卖出提醒</h3>
<ul>
    <li>股票名称：${context.stock.name}</li>
    <li>股票代码：${context.stock.stockCode}</li>
    <li>当前价格：${context.stock.price}</li>
    <li>当前涨幅：${context.stock.up}</li>
    <li>当前日期：${context.stock.date}</li>
    <li>当前时间：${context.stock.time}</li>
    <li>推送时间：${time}</li>
    <li>通过规则：<ul>
        #foreach($item in $context.flowSwings)<li> $item.validateType.name()($item.validateType.description)</li>#end
    </ul>
    </li>
</ul>