<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>股票购买提醒邮件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 id="-">股票购买提醒</h2>
<h4 id="-0">基本信息</h4>
<ul>
    <li>股票名称：<span  th:text="${context.stock.name}"/></li>
    <li>股票代码：<span  th:text="${context.stock.stockCode}"/></li>
    <li>当前价格：<span  th:text="${context.stock.price}"/></li>
    <li>当前涨幅：<span  th:text="${context.stock.up}"/></li>
    <li>当前日期：<span  th:text="${context.stock.date}"/></li>
    <li>当前时间：<span  th:text="${context.stock.time}"/></li>
    <li>推送时间：<span  th:text="${#dates.format(pushTime, 'yyyy-MM-dd HH:mm:ss')}"/></li>
    <li>通过规则：
        <ul>
            <li th:each="item : ${context.flowSwings}" th:text="${item.swing.validateType.name()} + '&nbsp;(' + ${item.swing.validateType.description} + ')&nbsp;' + ${item.success}"/>
        </ul>
    </li>
</ul>
<h4 id="-2">趋势图</h4>
<ul>
    <li>日K线</li>
</ul>
<p><img th:src="'http://image.sinajs.cn/newchart/daily/n/' + ${context.stock.stockCode} + '.gif'" alt="日K线"/></p>
<ul>
    <li>分时线</li>
</ul>
<p><img th:src="'http://image.sinajs.cn/newchart/min/n/' + ${context.stock.stockCode} + '.gif'" alt="分时线"/></p>
</body>
</html>