<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>规则管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4 id="-">规则模块</h4>
<table border="1">
    <thead>
    <tr>
        <th style="text-align:right">script name</th>
        <th style="text-align:left">script description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${validates}">
        <td style="text-align:right" th:text="${item.getKey()}"/>
        <td style="text-align:left" th:text="${item.getValue().getDescription()}"/>
    </tr>
    </tbody>
</table>
<h4 id="-2">编辑规则</h4>
<input type="button" th:value="增加根节点" onclick="addRoot()"/>
<div id="rule">
<hr/>
<p>id:<input type="text" name="id"/>, root: <select name="root"><option value="false">false</option><option value="true" selected="selected">true</option></select>, expression:<input type="text" name="expression"/>, validate_type:<select name="validateType"><option value="buyPrice">buyPrice</option></select>,expect:<input type="text" name="expect"/>, or_else:<input type="text" name="orElse"/>, child_id:<input type="text" name="child"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/></p>
</div>
</body>
<script>
    function addChild(element) {
        var p = element;
        p.parentNode.innerHTML = p.parentNode.innerHTML + '<br/>id:<input type="text" name="id"/>, root: <select name="root"><option value="false">false</option><option value="true">true</option></select>, expression:<input type="text" name="expression"/>, validate_type:<select name="validateType"><option value="buyPrice">buyPrice</option></select>,expect:<input type="text" name="expect"/>, or_else:<input type="text" name="orElse"/>, child_id:<input type="text" name="child"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/>';
    }
    function addRoot() {
        var d = document.getElementById('rule');
        d.innerHTML = d.innerHTML + '<hr/><p>id:<input type="text" name="id"/>, root: <select name="root"><option value="false">false</option><option selected="selected" value="true">true</option></select>, expression:<input type="text" name="expression"/>, validate_type:<select name="validateType"><option value="buyPrice">buyPrice</option></select>,expect:<input type="text" name="expect"/>, or_else:<input type="text" name="orElse"/>, child_id:<input type="text" name="child"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/></p>';
    }
</script>
</html>