<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>规则管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4 id="-">规则模块</h4>
<table border="1">
    <thead>
    <tr>
        <th style="text-align:right">script name</th>
        <th style="text-align:left">script description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${validates}">
        <td style="text-align:right" th:text="${item.getKey()}"/>
        <td style="text-align:left" th:text="${item.getValue().getDescription()}"/>
    </tr>
    </tbody>
</table>
<h4 id="-2">编辑规则</h4>
<form action="swingAdd.html" method="post">
<hr/>
<p>id:<input type="text" name="list[0].id"/>, root: <select name="list[0].root"><option value="false">false</option><option value="true" selected="selected">true</option></select>, expression:<input type="text" name="list[0].expression"/>, validate_type:<input type="text" name="list[0].validateType"/>,expect:<input type="text" name="list[0].expect"/>, autoTrigger:<select name="list[0].autoTrigger" ><option value="true">true</option><option value="false">false</option></select>, or_else:<input type="text" name="list[0].orElse"/>, executor:<input type="text" name="list[0].executor"/>,child_id:<input type="text" name="list[0].child.id"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/></p>
<input type="submit" value="提交"/>
</form>
</body>
<script>
    var i = 1;
    function addChild(element) {
        var p = element;
        p.parentNode.innerHTML = p.parentNode.innerHTML + '<br/>id:<input type="text" name="list['+i+'].id"/>, root: <select name="list['+i+'].root"><option value="false">false</option><option value="true">true</option></select>, expression:<input type="text" name="list['+i+'].expression"/>, validate_type:<input type="text" name="list['+i+'].validateType"/>,expect:<input type="text" name="list['+i+'].expect"/>, autoTrigger:<select name="list['+i+'].autoTrigger" ><option value="true">true</option><option value="false">false</option></select>, or_else:<input type="text" name="list['+i+'].orElse"/>, executor:<input type="text" name="list['+i+'].executor"/>, child_id:<input type="text" name="list['+i+'].child.id"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/>';
        i++;
    }
    function addRoot() {
        var d = document.getElementById('rule');
        d.innerHTML = d.innerHTML + '<hr/><p>id:<input type="text" name="list[0].id"/>, root: <select name="list[0].root"><option value="false">false</option><option selected="selected" value="true">true</option></select>, expression:<input type="text" name="list[0].expression"/>, validate_type:<select name="list[0].validateType"><option value="buyPrice">buyPrice</option></select>,expect:<input type="text" name="list[0].expect"/>, or_else:<input type="text" name="list[0].orElse"/>, child_id:<input type="text" name="list[0].child.id"/>。 <input type="button" onclick="addChild(this);" value="&#x589E;&#x52A0;&#x5B50;&#x8282;&#x70B9;"/></p>';
    }
</script>
</html>