<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>规则管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4 id="-">规则模块</h4>
<table border="1">
    <thead>
    <tr>
        <th style="text-align:right">script name</th>
        <th style="text-align:left">script description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${validates}">
        <td style="text-align:right" th:text="${item.getKey()}"/>
        <td style="text-align:left" th:text="${item.getValue().getDescription()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>