<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.eddy.dao.mapper.stock.StockMapper" >
    <resultMap id="stock" type="org.eddy.entity.Stock">
        <result column="id" property="id" />
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="up" property="up"/>
        <result column="up_price" property="upPrice"/>
        <result column="today_begin" property="todayBegin"/>
        <result column="yesterday_end" property="yesterdayEnd"/>
        <result column="time" property="time"/>
        <result column="date" property="date"/>
        <result column="stock_code" property="stockCode"/>
        <result column="buy1" property="buy1"/>
        <result column="buy1_price" property="buy1Price"/>
        <result column="buy2" property="buy2"/>
        <result column="buy2_price" property="buy2Price"/>
        <result column="buy3" property="buy3"/>
        <result column="buy3_price" property="buy3Price"/>
        <result column="sale1" property="sale1"/>
        <result column="sale1_price" property="sale1Price"/>
        <result column="sale2" property="sale2"/>
        <result column="sale2_price" property="sale1Price"/>
        <result column="sale3" property="sale3"/>
        <result column="sale3_price" property="sale3Price"/>
        <result column="to_buy_price" property="toBuyPrice"/>
        <result column="to_sale_price" property="toSalePrice"/>
        <result column="deal_stock" property="dealStock"/>
        <result column="deal_money" property="dealMoney"/>
    </resultMap>

    <sql id="table">stock.stock_source_data</sql>
    <sql id="columns">name,stock_code,price,up,up_price,today_begin,yesterday_end,date,time,buy1,buy1_price,buy2,buy2_price,buy3,buy3_price,sale1,sale1_price,sale2,sale2_price,sale3,sale3_price,to_buy_price,to_sale_price,deal_stock,deal_money</sql>
    <sql id="allColumns">id,name,stock_code,price,up,up_price,today_begin,yesterday_end,date,time,buy1,buy1_price,buy2,buy2_price,buy3,buy3_price,sale1,sale1_price,sale2,sale2_price,sale3,sale3_price,to_buy_price,to_sale_price,deal_stock,deal_money</sql>
    <insert id="insert" parameterType="list">
        INSERT INTO <include refid="table"/> ( <include refid="columns"/>) VALUES
        <foreach collection="list" open="(" close=")" separator=") , (" item="item">
            #{item.name}, #{item.stockCode}, #{item.price}, #{item.up}, #{item.upPrice}, #{item.todayBegin}, #{item.yesterdayEnd}, #{item.date}, #{item.time},
            #{item.buy1}, #{item.buy1Price}, #{item.buy2}, #{item.buy2Price}, #{item.buy3}, #{item.buy3Price}, #{item.sale1}, #{item.sale1Price}, #{item.sale2}, #{item.sale2Price}, #{item.sale3}, #{item.sale2Price},
            #{item.toBuyPrice}, #{item.toSalePrice}, #{item.dealStock}, #{item.dealMoney}
        </foreach>
    </insert>
    <delete id="deleteByDate">
        DELETE FROM <include refid="table"/>
        WHERE date = #{date}
    </delete>
    <select id="selectSotckByNameDateAndTime" resultMap="stock" parameterType="map">
        select <include refid="allColumns"/> FROM <include refid="table"/>
        WHERE date = #{date}
        and stock_code = #{stockCode}
        and time = #{time}
    </select>
    <select id="countByNameDateAndTime" resultType="java.lang.Integer" parameterType="map">
        SELECT count(*) from <include refid="table"/>
        WHERE date = #{date}
        and stock_code = #{stockCode}
        and time = #{time}
    </select>
    <select id="selectMaxDate" resultType="java.lang.String">
        SELECT MAX(date) from <include refid="table"/>
    </select>
    <select id="groupByDate" resultType="java.lang.String">
        SELECT date from <include refid="table"/> GROUP BY date order by date desc limit 3, 5
    </select>
    <select id="selectStatisticStock" resultMap="stock">
        select stock_code, sum(buy1) as buy1, sum(buy2) as buy2, sum(buy3) as buy3, sum(sale1) as sale1, sum(sale2) as sale2, sum(sale3) as sale3
        from stock.stock_source_data
        where date = #{date}
        group by stock_code
    </select>
    <select id="groupByStockCode" resultType="java.lang.String">
        SELECT stock_code FROM <include refid="table"/>
        WHERE date = #{date} group by stock_code
    </select>
    <select id="selectMaxTime" resultType="java.lang.String">
        SELECT max(time) FROM <include refid="table"/>
        WHERE date = #{date} and stock_code = #{code}
    </select>
    <select id="selectLastOnes" resultMap="stock">
        SELECT <include refid="allColumns"/> FROM <include refid="table"/>
        WHERE
        <foreach collection="params" separator=" or " item="item">
            (date = #{item.date} and stock_code = #{item.stockCode} and time = #{item.time} )
        </foreach>
    </select>
    <select id="selectGroupByStock" resultMap="stock">
        select name, stock_code FROM <include refid="table"/>  WHERE  date = #{date} GROUP BY stock_code, name;
    </select>
    <select id="selectSortedStocks" resultMap="stock">
        SELECT <include refid="allColumns"/> FROM <include refid="table"/>
        WHERE stock_code = #{code}
        ORDER BY date desc, time desc
    </select>

</mapper>