<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.eddy.dao.mapper.stock.StockWantBuyMapper">
    <resultMap id="wantBuy" type="org.eddy.entity.StockWantBuy">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="stock_code" property="stockCode"/>
        <result column="current_price" property="currentPrice"/>
        <result column="current_stock_date" property="currentDate"/>
        <result column="current_stock_time" property="currentTime"/>
        <result column="current_up" property="currentUp"/>
        <result column="validaters" property="validaters"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">stock.stock_want_buy</sql>
    <sql id="basicColumns">name, stock_code, current_price, current_up, validaters, current_stock_date, current_stock_time</sql>
    <sql id="allColumns">id, name, stock_code, current_price, current_up, validaters, create_time, update_time, current_stock_date, current_stock_time</sql>

    <insert id="insert" parameterType="org.eddy.entity.StockWantBuy">
        INSERT INTO <include refid="table"/> (<include refid="basicColumns"/>) VALUES
        (#{name}, #{stockCode}, #{currentPrice}, #{currentUp}, #{validaters}, #{currentDate}, #{currentTime})
    </insert>
    <update id="updateById">
        UPDATE <include refid="table"/>
        SET update_time = #{now}
        , current_price = #{item.currentPrice}
        , current_up = #{item.currentUp}
        , current_stock_date = #{item.currentDate}
        , current_stock_time = #{item.currentTime}
        where id = #{id}
    </update>
    <select id="selectByNameAndCode" resultMap="wantBuy">
      SELECT <include refid="allColumns"/> FROM <include refid="table"/>
      WHERE name = #{name} and stock_code = #{code}
    </select>
    <select id="selectAll" resultMap="wantBuy">
        SELECT <include refid="allColumns"/> FROM <include refid="table"/>
    </select>

</mapper>